<p>
  <strong>Nome:</strong>
  <%= @evento.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @evento.descricao %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @evento.datainicio %>
</p>

<p>
  <strong>Datafim:</strong>
  <%= @evento.datafim %>
</p>

<p>
  <strong>Local:</strong>
  <%= @evento.local %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @evento.endereco %>
</p>

<p>
  <strong>Site:</strong>
  <%= @evento.site %>
</p>

<p>
  <strong>Vagasdisponiveis:</strong>
  <%= @evento.vagasdisponiveis  -  @evento.inscricoes.count() %>
</p>


<!--TEM INSCRICAO EXIBE BOTAO PARA SAIR //-->

<% if usuario_signed_in? && (current_usuario.inscricoes.where(evento_id:@evento.id).count) > 0 %>
<a  class="btn btn-danger" data-confirm="Tem certeza?" rel="nofollow" data-method="delete" href="/inscricoes/<%=current_usuario.inscricoes.where(evento_id:@evento.id).first.id%>">Cancelar Inscrição</a>




<!--SEM VAGAS//-->
<% elsif (@evento.vagasdisponiveis  -  @evento.inscricoes.count())>0 %> 
<form action='/inscricoes' method="post">
   <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
   <input type='hidden' name='inscricao[evento_id]' value="<%= @evento.id %>"/>
  <button type="submit" class="btn btn-success">Quero Participar</button>
</form>
<% end %>


<br><br>

<img src="http://maps.google.com/maps/api/staticmap?size=1200x1200&maptype=roadmap&sensor=false&markers=color:red|label:A|<%= @evento.endereco %>" width="100" alt="<%= @evento.nome %>"></img>

