<div class="row">
  <div class="col-md-8">
    <%= image_tag( @evento.imagem, width: '50px') %>
  </div>                
</div>
<div class="row">
  <div class="col-md-8">
<p>
  <strong>Nome:</strong>
  <%= @evento.nome %>
</p>
<p>
  <strong>Descricao:</strong>
  <%= @evento.descricao %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @evento.datainicio %>
</p>

<p>
  <strong>Datafim:</strong>
  <%= @evento.datafim %>
</p>

<p>
  <strong>Local:</strong>
  <%= @evento.local %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @evento.endereco %>
</p>

<p>
  <strong>Site:</strong>
  <%= link_to @evento.site , @evento.site  %> 
</p>

<p>
  <strong>Vagasdisponiveis:</strong>
  <%= @evento.vagasdisponiveis  -  @evento.inscricoes.count() %>
</p>


<!--TEM INSCRICAO EXIBE BOTAO PARA SAIR //-->

<% if usuario_signed_in? && (current_usuario.inscricoes.where(evento_id:@evento.id).count) > 0 %>
<a  class="btn btn-danger" data-confirm="Tem certeza?" rel="nofollow" data-method="delete" href="/inscricoes/<%=current_usuario.inscricoes.where(evento_id:@evento.id).first.id%>">Cancelar Inscrição</a>

<!--SEM VAGAS//-->
<% elsif (@evento.vagasdisponiveis  -  @evento.inscricoes.count())>0 and (@evento.datafim > Date.current()) %> 
<form action='/inscricoes' method="post">
   <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
   <input type='hidden' name='inscricao[evento_id]' value="<%= @evento.id %>"/>
  <button type="submit" class="btn btn-success">Quero Participar</button>
</form>
<!--AVALIAR EVENTO//-->
<% end %>
<% if (@evento.datainicio < Date.current()) %> 
<%= form_for(@avaliacao) do |f| %>
  
   <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
   <input type='hidden' name='avaliacao[evento_id]' value="<%= @evento.id %>"/>
    <br>
    <p>
      <strong>Avalie o evento:</strong>
    </p>

                      <%= radio_button("avaliacao", "nota", "1")%>Ruim 
                       <%= radio_button("avaliacao", "nota", "2")%>Médio 
                       <%= radio_button("avaliacao", "nota", "3")%>Bom 
                       <%= radio_button("avaliacao", "nota", "4")%>Ótimo
                       <%= radio_button("avaliacao", "nota", "5")%>Excelente

   <br> <br> 
   <textarea class="form-control" rows="4" name="avaliacao[texto]"><%= @avaliacao.texto%></textarea>
   <br>
  <button type="submit" class="btn btn-success">Enviar avaliação</button>
<% end %>
<% end %>


  </div>                
</div>

<div class="row">
  <div class="col-md-8">
    <p><br>    
      <img src="http://maps.google.com/maps/api/staticmap?size=1200x1200&maptype=roadmap&sensor=false&markers=color:red|label:A|<%= @evento.endereco %>" width="100" alt="<%= @evento.nome %>"></img>
    </p>
  </div>                
</div>